fastapi
uvicorn
sqlalchemy
pymysql
python-jose
python-multipart
pydantic
ollama
cryptography
pypdf
python-docx
python-dotenv

langchain
langchain-community
langchain-ollama
langchain-text-splitters
chromadb
docx2txt
passlib[bcrypt]
pydantic[email]

